<br><br>
<h1 id="comparison_header"><%=@user.name%>'s Movie Comparison</h1>
<br>
<span><%=link_to "New comparison", comparison_path(@user), class: "user_links"%></span><br><br><br>

<div class="container">

  <%=form_for @comparison do |f|%>

        <div class="comparison_click">
          <button class="dropbtn"><img src="<%= @movie_1.poster_url%>" alt="<%=@movie_1.title%>"></button>
          <div class="dropdown-content">
            <input type="hidden" name="superior[id]" value="<%= @movie_1.id %>">
            <input type="hidden" name="inferior[id]" value="<%= @movie_2.id %>">
            <%= f.submit "#{@movie_1.title}", class: "dropbtn" %>
          </div>
        </div>

  <% end %>

  <%=form_for @comparison do |f|%>

        <div class="comparison_click">
          <button class="dropbtn"><img src="<%= @movie_2.poster_url%>" alt="<%=@movie_2.title%>"></button>
          <div class="dropdown-content">
            <input type="hidden" name="superior[id]" value="<%= @movie_2.id %>">
            <input type="hidden" name="inferior[id]" value="<%= @movie_1.id %>">
            <%= f.submit "#{@movie_2.title}", class: "dropbtn" %>
          </div>
        </div>

  <% end %>

</div>
