<br><br>
<h1><%=@user.name%>'s Favorites</h1>
<br><br>

<% if current_user.id == @user.id %>
  <header>
    <%= link_to "Add Favorites", user_search_path, class: "user_links"%>
    <%= link_to "Compare Movies", comparison_path(current_user), class: "user_links"%>
    <% if @user.movies.count > 0 %>
      <%= link_to "Get Recommendations!", recommendation_path(current_user), class: "user_links"%>
    <% end %>
  </header>
<% end %>

<br><br>

<ul class="favorites_row">
  <% @user.movies.each do |movie|%>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
            <img class="favorites_column" src="<%=movie.poster_url%>" alt="<%=movie.title%>"><br>
        </div>
        <div class="flip-card-back">
            <h2><%=movie.title%></h2><br>
            <p><%=movie.year%></p>
            <p><%=movie.rated%></p>
            <p><%=movie.imdbRating%></p><br>
            <p><%=movie.genre%></p>

            <div class="favorites_link_wrapper">
              <%= link_to "More details", movie_path(movie), class: "favorites_link"%>

              <% if current_user.id == @user.id %>
                  <form class="delete_favorite_button" method="post" action="/favorites/<%= @user.find_favorite(movie).id%>" >
                    <input type="hidden" name="_method" value="delete">
                    <input type="hidden" name="user_id" value="<%=@user.id%>">
                    <input type="submit" value="remove">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                  </form>
              <% end %>

            </div>

        </div>
      </div>
    </div>

  <% end %>
</ul>
