<!DOCTYPE html>
<html>
  <head>
    <title>MyMDb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="outer_body">
      <div class="inner_body">

        <!-- header w logo-->
        <div class="headerbar">
          <header>
            <img class="headeritem" src="https://user-images.githubusercontent.com/47403119/63199164-3c129e00-c03a-11e9-9d7d-8a39dcb77256.png" alt="MyMDb logo">
            <% if current_user %>
              <%= link_to "Home", home_path, class: "headeritem"%>
              <%= link_to "Search", movies_path, class: "headeritem"%>
              <%= link_to "Favorites", favorites_path, class: "headeritem"%>
              <%= link_to "Comparisons", comparisons_path, class: "headeritem"%>
              <small><%= link_to "Log Out, #{current_user.name}", logout_path, class: "headeritem"%></small>
            <% else %>
              <%= link_to "Create User", signup_path, class: "headeritem"%>
              <%= link_to "Log In", login_path, class: "headeritem"%>
            <% end %>
          </header>
        </div>

        <!-- views general -->
        <div class="yield">
          <!-- flash messages on redirects -->
          <% if flash[:notice]%>
            <div class="notice"><%= flash[:notice] %></div>
          <% elsif flash[:alert]%>
            <div class="alert"><%= flash[:alert] %></div>
          <% elsif flash[:retry]%>
            <div class="retry"><%= flash[:retry] %></div>
          <% end %>

          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
